.moon {
    background-color: #F5F3CE;
    height: 50rem;
    width: 50rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 0 1.5rem rgba(255, 255, 255, 0.05),
        0 0 0 4rem rgba(255, 255, 255, 0.05), 0 0 0 6rem rgba(255, 255, 255, 0.05);
}

.moon:after {
    position: relative;
    content: "";
    display: block;
    background-color: #D9D8C5;
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 100%;
    top: 15rem;
    left: 30rem;
    box-shadow: 0.9em -6.1em 0 0.5em #D9D8C5, 1.1em -6.1em 0 0.6em #C4C2A5, 4.8em -2em 0 -0.45em #D9D8C5,
        5em -2em 0 -0.42em #C4C2A5;
}