#members {
   width: 100%;
   padding: 32px 0px;
   display: flex;
   flex-direction: column;
   align-items: center;
   row-gap: 32px;
}

#members > h1 {
   color: #5643fd;
   font: 600 4rem "Poppins", sans-serif;
   margin: 0px;
   /* removing default header margin */
   animation: 2.5s ease 0s infinite normal levitate;
}

#members-cards-container {
   display: flex;
   justify-content: center;
   align-items: center;
   column-gap: 10%;
   width: 90%;
}

#members-cards-container > .card-main > img {
   width: 80%;
   aspect-ratio: 1;
   border-radius: 50%;
   align-self: center;
   margin-bottom: 16px;
}

#members-cards-container > .card-main > .card-text {
   align-items: center;
}

@media (max-width: 475px) {
   #members > h1 {
      font-size: 2.8rem;
      text-align: center;
   }

   #members-cards-container {
      flex-direction: column;
      row-gap: 48px;
   }
}
