.title-main {
   display: flex;
   justify-content: space-between;
   align-items: center;

   height: 75vh;

   /* forces subtitle to be one line */
   /* overflow: hidden;
   white-space: nowrap;  */
}

.logo-container {
   flex-grow: 1;
}

.title-container {
   display: flex;
   flex-direction: column;

   margin-right: 64px;
}

.title-container > h1 {
   margin: 0px;
   font: 600 6.25rem "Poppins", sans-serif;
   color: #5643FD;
}

.title-container > p {
   margin: 0px;
   font: 1.75rem "Inter", sans-serif;
   text-transform: uppercase;
   color: white;

   position: relative;
   top: -32px;
}

.join-btn {
  align-self: center;
  font: 500 1.4rem "Poppins", sans-serif;
  text-transform: uppercase;
  padding: 12px 32px;
  color: #fff;
  background: #5643FD;
  outline: none;
  border: 0px;
  border-radius: 32px;
}
