.navbar-main {
   display: flex;
   justify-content: flex-end;
   list-style-type: none;

   margin: 0px;
   padding: 0px;
}

.navbar-container {
   display: flex;
   justify-content: space-around;
   column-gap: 56px;
   margin: 48px 48px 0px 0px;
   padding: 10px 32px;
   border-radius: 8px;
}

.navbar-container > li > a {
   font: 500 1rem "Inter", sans-serif;
   color: white;
   text-decoration: none;
}
