.socials-main {
   display: flex;
   column-gap: 64px;
   justify-content: center;
   align-items: center;

   /* the icons array will occupy remnant space in landing page */
   flex-grow: 1;
}

.socials-icon {
   width: 24px;
   height: 24px;
   color: #988CFF;
}