.socials-main {
   display: flex;
   column-gap: 64px;
   justify-content: center;
   align-items: center;
   margin: 24px;
}

.socials-icon {
   width: 24px;
   height: 24px;
   color: #5643fd;
   cursor: pointer;
   transition: 0.5s ease;
}

.socials-icon:hover {
   width: 36px;
   height: 36px;
   color: #f5f3ce;
   margin: 0px;
   padding: 0px;
}

@media (max-width: 475px) {
   .socials-main {
      column-gap: 40px;
      margin: 16px;
   }

   .socials-icon {
      width: 16px;
   }

   .socials-icon:hover {
      width: 25px;
      color: #f5f3ce;
   }
}