.socials-main {
   display: flex;
   column-gap: 64px;
   justify-content: center;
   align-items: center;
   margin: 24px;
}

.socials-icon {
   width: 24px;
   height: 24px;
   color: #988cff;
}

@media (max-width: 475px) {
   .socials-main {
      column-gap: 40px;
      margin: 16px;
   }

   .socials-icon {
      width: 16px;
   }
}
