#projects {
    height: 100vh;
    /* padding: 2rem; */
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#projects>h1 {
    font: 600 4rem "Poppins", sans-serif;
    color: #5643FD;
    margin: 0px;
    padding: 16px;
    animation: 2.5s ease 0s infinite normal levitate;
}

#projects-body {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#projects-body>div {
    font: 400 1rem "Poppins", sans-serif;
    color: #fff;
    width: 80%;
    border-radius: 20px;
    padding: 1rem;
    text-align: justify;
}

@media (max-width: 475px) {
    #projects {
        width: 100vw;
        left: 0;
    }

    #projects>h1 {
        font-size: 3.2rem;
    }

    #projects-body>div {
        font-size: 0.9rem;
        top: -16px;
    }
}