@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500&family=Poppins:wght@400;500;800&display=swap');


/* removing default body margin */
body {
   margin: 0px;
   background: rgb(0, 0, 0);
   background: linear-gradient(180deg, rgba(0, 0, 0, 1) 10%, rgba(0, 21, 72, 1) 30%,
         rgba(0, 34, 88, 1) 40%, rgba(0, 47, 104, 1) 50%, rgba(6, 61, 120, 1) 70%);
   box-sizing: border-box;
}

.glassmorphism {
   background: rgba(86, 67, 253, 0.3);
   box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
   backdrop-filter: blur(4px);
   -webkit-backdrop-filter: blur(7px);
}