@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500&family=Poppins:wght@400;500;800&display=swap');

html {
   scroll-behavior: smooth;
}

* {
   box-sizing: border-box;
}

/* removing default body margin */
body {
   margin: 0px;
   background: rgb(0, 0, 0);
   background: linear-gradient(180deg, rgba(0, 0, 0, 1) 10%, rgba(0, 21, 72, 1) 20%,
         rgba(0, 0, 0, 1) 80%);
}

.glassmorphism {
   background: rgba(86, 67, 253, 0.3);
   box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
   backdrop-filter: blur(4px);
   -webkit-backdrop-filter: blur(7px);
}